.chatDetailsView {
	width: 33.333%;
	margin-left: -5px;
	background: #FFF;
	vertical-align: top;
	position: relative;
	overflow-y: auto;

	@include breakpoint(small) {
		width: 28%;
		border-left: 1px solid #e5e5e5;
	}

	@include breakpoint(medium) {
		width: 24%;
	}

	a {
		cursor: pointer;
	}

	h3 {
		display: block;
		color: #a5b2b9 !important;
		color: rgba(0, 39, 59, 0.35) !important;
		background: #F7F7F7;
		font-size: 1em;
		text-transform: uppercase;
		font-weight: 300;
		padding: 20px 10px 8px 20px;
		letter-spacing: 1px;
		margin: 0;
	}

	ul {
		padding: 0;
		border-bottom: 1px solid #e5e5e5;
		margin: 0;

		li {
			margin-left: 0;
			padding: 0;
			list-style: none;
			position: relative;

			> div {
				margin-left: 20px;
				padding: 10px 10px 10px 0;
				border-bottom: 1px solid #e5e5e5;
				position: relative;

				img {
					width: 60px;
					height: 60px;
					border-radius: 60px;
					margin-right: 10px;
				}

				h4 {
					margin: 0;
					padding: 0;
					line-height: 56px;
					white-space: nowrap;
				}

				a {
					color: #C7C7CC;
					margin-right: 10px;
					line-height: 56px;
					text-decoration: none !important;

					&.noMargin {
						margin-right: 0;
						margin-left: 4px;
					}

					i {
						vertical-align: middle;
					}

					&:first-child {
						color: #428bca;
						line-height: 30px;
						i {
							font-size: 1.2em;
						}
					}

					&.text-danger {
						color: #a94442;
					}

					&.red-text {
						color: #FF3B30;
					}
				}

				input[type="checkbox"] {
					float: right;
					appearance: none;
					background-color: darken(#fff, 2%);
					border: 1px solid #d3d3d3;
					border-radius: 26px;
					box-shadow: inset 0 0 0 1px #d3d3d3;
					cursor: pointer;
					height: 28px;
					position: relative;
					transition: border .25s .15s,
								box-shadow .25s .3s,
								padding .25s;
					width: 44px;
					vertical-align: top;
				  
				  &:after {
				    background-color: #fff;
				    border: 1px solid #d3d3d3;
				    border-radius: 24px;
				    box-shadow: inset 0 -3px 3px hsla(0,0%,0%,.025),
				                0 1px 4px hsla(0,0%,0%,.15),
				                0 4px 4px hsla(0,0%,0%,.1);
				    content: '';
				    display: block;
				    height: 27px;
				    left: 0;
				    position: absolute;
				    right: 16px;
				    top: 0;
				    transition: border .25s .15s,
				                left .25s .1s,
				                right .15s .175s;
				  }
				  &:checked {
				    border-color: #53d76a;
				    box-shadow: inset 0 0 0 16px #53d76a;
				    padding-left: 18px;
				    transition: border .25s,
				                box-shadow .25s,
				                padding .25s .15s;
				  
				    &:after {
				      border-color: #53d76a;
				      left: 16px;
				      right: 0;
				      transition: border .25s,
				                  left .15s .25s,
				                  right .25s .175s;
				    }
				  }
				}
			}

			&:last-child > div {
				border-bottom: none;
			}
		}
	}

	.footerActionMenu {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.7);
		text-align: center;
		z-index: 1;

		ul {
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			padding: 10px;

			li {
				background: #FFF;
				border-top: 1px solid #e5e5e5;
				padding: 8px 0;
				color: #428bca;
				cursor: pointer;

				&:first-child {
					border-top-right-radius: 3px;
					border-top-left-radius: 3px;
				}

				&:nth-last-child(2) {
					border-bottom-right-radius: 3px;
					border-bottom-left-radius: 3px;
				}

				&:last-child {
					margin-top: 10px;
					border-radius: 3px;
					border-top-right-radius: 3px;
					border-top-left-radius: 3px;
				}

				&.text-danger {
					color: #a94442;
				}
			}
		}
	}
}