<div ng-if="isActiveUser()">
	<ul>
		<li ng-repeat="user in currentChatRoom.users" ng-if="user.id !== currentUser.id">
			<div class="clearfix">
				<img ng-src="{{user.photo || 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+'}}" alt="..." class="pull-left">
				<h4 class="pull-left">{{user.name}}</h4>

				<a class="pull-right noMargin" ui-sref="profile({id: user.id})"><i class="fa fa-info fa-2x"></i></a>
				<a ng-if="browserCompatibility.webRTC.RTCPeerConnection && browserCompatibility.webRTC.getUserMedia" class="pull-right" ng-click="removeFromChatRoom()">
					<i class="fa fa-video-camera fa-2x"></i>
				</a>
				<a ng-if="browserCompatibility.webRTC.RTCPeerConnection && browserCompatibility.webRTC.getUserMedia" class="pull-right" href="">
					<i class="fa fa-phone fa-2x"></i>
				</a>
			</div>
		</li>
		<li>
			<div class="clearfix">
				<a ng-click="addContact()"><i class="fa fa-plus fa-lg"></i> <span translate>Add Contact</span></a>
			</div>
		</li>
	</ul>

	<h3></h3>

	<ul>
		<li>
			<div class="clearfix">
				<span translate>Do Not Disturb</span>
				<input ng-model="currentChatRoom.doNotDisturb" ng-change="doNotDisturb()" type="checkbox">
			</div>
		</li>

		<li ng-click="leaveConversation()">
			<div class="clearfix">
				<a class="red-text" translate>Leave this Conversation</a>
			</div>
		</li>
	</ul>
</div>

<div ng-if="menuLeaveConversation" ng-click="leaveConversation()" class="footerActionMenu">
	<ul>
		<li ng-click="leaveChatRoom()" translate>Leave this Conversation</li>
		<li ng-click="leaveConversation()" class="text-danger" translate>Cancel</li>
	</ul>
</div>