<div class="contacts">
  <div class="header clearfix" ng-controller="headerCtrl">
    <div class="center" translate>New Room</div>
    <h4 class="text-muted pull-left">
      <a ng-click="goBack()">&nbsp;<i class="fa fa-angle-left fa-lg"></i>&nbsp;<i class="fa fa-comments-o fa-lg"></i></a>
      &nbsp;&nbsp;
    </h4>
    <ul class="nav nav-pills navbar-right">
      <li><a ng-click="createRoom()" class="pull-left" translate>Done</a></li>
    </ul>
  </div>

  <div class="selectedContacts clearfix" ng-if="selectedContacts.length">
    <div ng-repeat="contact in selectedContacts" class="pull-left" ng-click="toggleContact()">
      <img ng-src="{{::contact.photo || 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+'}}" alt="...">
    </div>
  </div>

  <div class="searchBox">
    <input type="text" ng-model="searchFilter" placeholder="Search"/>
  </div>


  <div class="list" ng-if="!searchFilter.length">
    <div ng-repeat="group in groups">
      <div class="group-label"><span>{{ group.label }}</span></div>
      <ul>
        <li class="list-item clearfix" ng-repeat="contact in group.contacts" ng-click="toggleContact()">
          <div class="pull-left">
            <i class="fa fa-lg" ng-class="{true: 'fa-check-circle', false: 'fa-circle-o'}[selectedContacts.indexOf(contact) !== -1]"></i>
          </div>
          <img ng-src="{{::contact.photo || 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+'}}" alt="..." class="pull-left">
          <h4>{{::contact.name}}</h4>
        </li>
      </ul>
    </div>
  </div>

  <div class="list" ng-if="searchFilter.length">
    <ul>
      <li class="list-item clearfix" ng-repeat="contact in ::contacts | filter:searchFilter" ng-click="toggleContact()">
        <div class="pull-left">
          <i class="fa fa-lg" ng-class="{true: 'fa-check-circle', false: 'fa-circle-o'}[selectedContacts.indexOf(contact) !== -1]"></i>
        </div>
        <img ng-src="{{::contact.photo || 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+'}}" alt="..." class="pull-left">
        <h4>{{::contact.name}}</h4>
      </li>
    </ul>
  </div>
</div>