<div class="header clearfix">
    <div class="pull-left">
        <!--<a ng-href="{{params.t_u}}">{{app.name || params.t_d}}</a> - --><a ng-href="">{{owner.name || params.t_n}}</a>
    </div>
    
    <ul class="nav nav-pills navbar-right">
      <li>
        <a ng-href="/signin">
            <img src="/images/logo.png" class="logo">
        </a>
      </li>

      <li class="dropdown">
        <a ng-if="!currentUser.id" class="dropdown-toggle" data-toggle="dropdown">
          Login
          <span class="caret"></span>
        </a>
        <a ng-if="currentUser.id" class="dropdown-toggle" data-toggle="dropdown">
          <!--<img data-ng-if="currentUser.photo" data-ng-src="{{currentUser.photo}}">-->
          <span>{{currentUser.name}}</span>
          <span class="caret"></span>
        </a>

        <ul ng-if="!currentUser.id" class="dropdown-menu" role="menu">
            <li><a data-ng-click="openAuth('');" translate>ORi</a></li>
            <li><a data-ng-click="openAuth('facebook');" translate>Facebook</a></li>
            <li><a data-ng-click="openAuth('google');" translate>Google</a></li>
            <li><a data-ng-click="openAuth('twitter');" translate>Twitter</a></li>
        </ul>
        <ul ng-if="currentUser.id" class="dropdown-menu" role="menu">
          <li><a ng-href="/account/" target="_blank" translate>Edit Settings</a></li>
          <li><a ng-click="logout()" translate>Logout</a></li>
        </ul>
      </li>
    </ul>
</div>

<div class="rightContainer clearfix">
    <img ng-if="!currentChatRoom && (owner.photo || params.t_p)" ng-src="{{owner.photo || params.t_p}}" alt="{{owner.name}}" class="pull-left">
    <img ng-if="!currentChatRoom && !owner.photo && !params.t_p" ng-src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt="..." class="pull-left">

    <div ng-if="!currentChatRoom" class="message" class="clearfix">

        <div>
            <form data-ng-submit="startConversation()">
                <textarea class="form-control" rows="3" ng-click="toggleShowForm()" data-ng-model="data.message" placeholder="Send a message..." required></textarea>

                <button ng-if="currentUser.id && showForm" type="submit" class="btn btn-default">Send</button>
            </form>
        </div>

        <div ng-if="!currentUser.id && showForm" class="clearfix">

            <div ng-if="!currentUser.username" class="social">
                <h6 translate>Sign in With</h6>

                <a class="ori_connect" data-ng-click="openAuth('');">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-comments-o fa-stack-1x"></i>
                    </span>
                </a>
                <a class="fb_connect" data-ng-click="openAuth('facebook');">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x"></i>
                    </span>
                </a>
                <a class="go_connect" data-ng-click="openAuth('google');">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-google fa-stack-1x"></i>
                    </span>
                </a>
                <a class="tw_connect" data-ng-click="openAuth('twitter');">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                </a>
            </div>

            <div class="registerForm clearfix">
                <h6 translate>Or Register with ORi</h6>

                <form data-ng-submit="register()" id="registration_form" name="registration_form">
                    <input type="text" data-ng-model="formData.name" class="form-control" rows="3" ng-click="toggleShowRegisterForm()" placeholder="Name" />
                    <input ng-if="ShowRegisterForm" data-ng-model="formData.email" type="email" class="form-control" rows="3" placeholder="Email" />
                    <input ng-if="ShowRegisterForm" data-ng-model="formData.password" type="password" class="form-control" rows="3" placeholder="Password" />

                    <button type="submit" class="btn btn-default"><i class="fa fa-long-arrow-right fa-2x"></i></button>
                </form>
            </div>
        </div>
    </div>

    <div ng-if="currentChatRoom" id="chatView" class="chatView" ng-include="'views/chat.html'"></div>
</div>

<div class="footer clearfix">
    <a href="" class="pull-left"><i class="fa fa-envelope-o fa-lg"></i>&nbsp;<span translate>Subscribe</span></a>
    <a href="/" target="_blank" class="pull-right logo" title="Powered by ORi">ORi</a>
</div>