<div class="form_wraper">
    <h2>
        <span translate>Delete App</span>
        <button class="btn btn-link pull-right" ng-click="switchDeleteApp()" translate>Delete</button>
    </h2>

    <form ng-if="openDeleteApp" class="form-horizontal" data-ng-submit="submit()" name="putDeleteApp">

        <div class="alert alert-warning" translate>Please be aware that if you proceed all you data will be deleted immediately.</div>

        <div class="checkbox">
            <label>
                <input type="checkbox" data-ng-model="formDeac.reason.temporary"> <span translate>This is temporary. I'll be back.</span>
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" data-ng-model="formDeac.reason.privacy"> <span translate>I have a privacy concern.</span>
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" data-ng-model="formDeac.reason.notusefull"> <span translate>I don't find useful.</span>
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" data-ng-model="formDeac.reason.dontunderstand"> <span translate>I don't understand how to use.</span>
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" data-ng-model="formDeac.reason.duplicateapp"> <span translate>I have another app.</span>
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" data-ng-model="formDeac.reason.other"> <span translate>Other.</span>
            </label>
        </div>

        <textarea name="deactivate_message" cols="42" class="form-control" rows="3" maxlength="255" data-ng-model="formDeac.message" placeholder="{{'Leave us some feedback.'|translate}}"></textarea>

        <br>

        <div class="col-md-12 center-block">
            <button type="submit" class="btn btn-warning center-block" translate>Delete</button>
        </div>

        <br>
    </form>
</div>