.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  background: #f0f2f4;
  font-family: "montserratregular",Helvetica,Arial,sans-serif;
}

/* Custom page header */
.header {

  .nav > li > a > img {
    max-height: 34px;
  }
}
a:hover {
  cursor: pointer;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}